.myModal {
    position: fixed;
    z-index: 100;
    top: 30%;
    left: 35%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-wrapper {
    background-color: pink;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}